:root{
--main-background:#F6B637;
--form-background:#948224;
--footer-backround:#5D5116;
--title-color:#FFF;
}
ul{
list-style: none;
padding: 0px ;
margin: 0px;
}
a{
text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
margin: 0px;
padding: 0px;
}
body{
    width: 1920px;
margin: 0px;
box-sizing: border-box;
color: #5D5116;
}
.container{
width: 1292px;
padding: 0 15px;
margin: 0 auto;
}
.header{
background-color: var(--main-background);
font-size: 22px;
}
.header-nav-link{
color: var(--footer-backround);
}
.hero{
background-color: var(--main-background);
background-image: url(../christmas-images/santa-and-workers.png);
padding-bottom: 792px;
background-repeat: no-repeat;
background-position:center;
background-size: cover;
}
.hero-title{
color:var(--title-color);
font-size:82px;
font-weight: 700;
line-height: normal;
text-align: center;
}
.hero-word{
font-size: 28px;
text-align: center;
font-weight: 500;
line-height: 172%;
}
.christmas{
background-color: var(--main-background);
}
.christmas-title{
font-size: 48px;
text-align: center;
font-weight: 600;
line-height: normal;
}
.christmas-subtitle{
color: var(--title-color);
font-size: 40px;
font-weight: 700;
text-align: center;
line-height: normal;
}
.christmas-item{
width: 483px;
font-size: 32px;
font-weight: 600;
text-align: center;
line-height: 140%;
}
.christmas-wrap{
font-size: 32px;
font-weight: 600;
text-align: center;
line-height: 140%;
width: 556px;
}
.stars-wrap{
background-image: url(./christmas-images/stars.png);
padding: 62px 116px;
background-repeat: no-repeat;
background-position: center;
}
.christmas-button{
    padding: 15px 60px;
   background-color: var(--form-background);
   font-size: 24px;
   border: none;
   font-weight: 700;
   line-height: 140%;
   color: var(--title-color);
}
.contact{
height: 974px;
background-color: var(--form-background);
}
.contact-img{
height: 80px;
margin-top: 100px;
margin-bottom: 50px;
height: 89px;
}
.contact-text{
color: var(--title-color);
font-size: 32px;
font-weight: 700;
text-align: center;
line-height: normal;

}
.contact-border{
background-color: ;

    
}







